<div class="container">
  <h1>Dashboard</h1>

  <ul>
    <li>
      <%= link_to admin_buildings_path do %>
        Buildings (<%= Building.count %>) and rooms (<%= Room.count %>)
      <% end %>
    </li>
    <li>
      <%= link_to admin_courses_path do %>
        Courses (<%= Course.count %>) and lessons (<%= Lesson.count %>)
      <% end %>
    </li>
    <li><%= link_to admin_students_path do %>
        Students (<%= Student.count %>)
        <% end %>
    </li>
    <li>
      <%= link_to admin_teachers_path do %>
        Teachers (<%= Teacher.count %>)
      <% end %>
    </li>
  </ul>
</div>